Plugins/Source/HealthBars/
Plugins/Source/MinimapIcons/
Plugins/Source/poe-trading-bot/
Plugins/Source/Radar/
Plugins/Source/ReAgent/
Plugins/Source/NPCInvWithLinq/
Plugins/Source/SkillDPS-PoE2/
/Plugins
*.exe
